<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gadget Warehouse</title>
    <%- include('../header_files')%>
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="shortcut icon" type="image/png" href="../images/favicon.ico" >

<link rel="stylesheet" href="../stylesheets/rgb.css">
    
</head>
<body>
  <%- include('Guest_navbar2')%>
  
<!-- <div class="maindiv"> -->
    <section >
      <div id="rgbKineticSlider" class="rgbKineticSlider"></div>





<div  class="container" id="text3">
    <div  class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
<div data-aos="fade-up" class="col"><div class="banners">The place which everyone calls <div class="my">My </div>place. Always delievering more than expected. </div></div>
<div data-aos="fade-up" class="col"> <div class="banners">From our<div class="my"> Gadget </div>to yours. Quality you-had expected at prices wouldn't.</div></div>
<div data-aos="fade-up"  class="col"><div class="banners">Get lost inside our <div class="my"> Warehouse </div>there's no place like here.</div>
</div>
</div>
</div>

</section>
<section class="sec1 ">
  <div data-aos="fade-down" class="container" id="cd">
    <h2>Top tier Categories </h2>
  </div>
    <div data-aos="zoom-in-up"  class="rower">
  <div class="carder" style="background-image:url(../images/ipp0.png)">
    <div class="contentWrapper">
        <div class="content">
        <h3>Smartphones</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Smartphone">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/lp1.jpg);background-size: containe;" >
    <div class="contentWrapper" >
        <div class="content">
        <h3>Laptops</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla  inventore commodi? </p>
        <a href="../Laptop">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/ps0.jpg)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Gaming Consoles</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Gaming_consoles">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/sp.jpg)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Speakers</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Speakers">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/mouse.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Peripherals & Accessories</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Accessories">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/gm0.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Video Games</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Games">See More...</a>
    </div>
</div>
  </div>

  <div class="carder" style="background-image:url(../images/hs.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Headsets</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../GamingHeadsets">See More...</a>
    </div>
</div>
  </div>
  
  <div class="carder" style="background-image:url(../images/cam.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Cameras & DSLRs</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Camera">See More...</a>
    </div>
</div>
  </div>
  <div class="carder" style="background-image:url(../images/cave.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Cool New Gadgets</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../NewGigs">See More...</a>
    </div>
</div>
  </div>


  <div class="carder" style="background-image:url(../images/ai0.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Virtual Assistants</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../VirtualAssistants">See More...</a>
    </div>
</div>
  </div>
  
  <div class="carder" style="background-image:url(../images/dr1.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Drones</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Drones">See More...</a>
    </div>
</div>
  </div>
  
  <div class="carder" style="background-image:url(../images/wc1.png)">
    <div class="contentWrapper">
      <div class="content">
        <h3>Special Gadgets</h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, id distinctio vel nulla inventore commodi? </p>
        <a href="../Dis">See More...</a>
    </div>
</div>
  </div>
  
  
    </div>
<!-- </section>
<section id="sec2" >

</section>
<section>
    <h2> third page</h2>
</section>
 -->
<div>

  <footer
          class="text-center text-lg-start text-white"
          >
    <section
             class="d-flex justify-content-between p-4 foot">
      <div class="me-5">
        <span>Get connected with us </span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold">My Gadget Warehouse</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fffffff9; height: 2px"
                />
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laborum perspiciatis quos at maiores nostrum vel vitae soluta fugiat harum.
            </p>
          </div>


          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          
            <h6 class="text-uppercase fw-bold">Links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fffffff9; height: 2px"
                />
            <p>
              <a href="/users/" class="text-white">Home</a>
            </p>
            <p>
              <a href="/Contact-us" class="text-white">Contact Us</a>
            </p>
            <p>
              <a href="About-uss" class="text-white">About us</a>
            </p>
            <!-- <p>
              <a href="#!" class="text-white"></a>
            </p> -->
          </div>
          

          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #fffffff9; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Ranjit Avenue, B-Block,Amritsar,India</p>
            <p><i class="fas fa-envelope mr-3"></i> Mygw9999@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 1234567890</p>
          </div>

        </div>

      </div>
    </section>

    <div
         class="text-center p-3 copy"

         >
      © 2022 Copyright :
      <a class="text-white" href="../Index"
         >My Gadget Warehouse</a
        >
    </div>
  </footer>

</div>

</div>
</div>

<%- include('../footer_script')%>
<script src="https://cdn.jsdelivr.net/gh/hmongouachon/rgbKineticSlider/js/libs/TweenMax.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hmongouachon/rgbKineticSlider/js/libs/imagesLoaded.pkgd.min.js"></script>
<script src="../javascripts/pixi.min.js"></script>
<script src="../javascripts/pixi-filters.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hmongouachon/rgbKineticSlider/js/rgbKineticSlider.js"></script> 
<script src="../javascripts/rgb.js"></script>
<script src="../javascripts/script.js"></script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>
